<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Earthquake Classification</title>
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">   
  <!-- CSS  -->
   <link rel="stylesheet" href="static/css/materialize.css">
   <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Earthquake Classification</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict the earthquake classification in the Philippines
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/predict' method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="first_name"><b>Date</b></label>
            <br>
          <input placeholder="Date of the earthquake" name="Date" id="first_name" type="date" class="validate">
        </div>
        <div class="input-field col s4">

          <label for="last_name"><b>Time </b></label>
            <br>
          <input id="last_name" name="Time" placeholder="Time occured"  type="time" class="validate">

        </div>

        <div class="input-field col s4">
            <label for="_name"><b>Latitude</b></label>
            <br>
          <input id="_name" name="Latitude" placeholder="Latitude in degrees" type="number" step=".01" class="validate">

        </div>
        <div class="input-field col s4">
          <label for="_name"><b>Longitude</b></label>
          <br>
        <input id="_name" name="Longitude" placeholder="Longitude in degrees" type="number" step=".01" class="validate">

      </div>
      <div class="input-field col s4">
        <label for="_name"><b>Zipcode</b></label>
        <br>
      <input id="_name" name="Zipcode" placeholder="Zipcode of the location" type="number" class="validate">

    </div>

      </div>

      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light orange">Predict Earthquake Classification</button>
      </div>
    </form>
      </div>

      <br>
        {{pred}}<br>

    </div>
  </div>

  </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
