<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TremorTracker: Earthquake Classification System</title>
    <meta
      name="description"
      content="TremorTracker is an earthquake prediction system for the Philippines, utilizing machine learning and PHIVOLCS dataset to provide accurate seismic insights and enhance disaster preparedness."
    />
    <script
      src="https://cdn.plot.ly/plotly-2.32.0.min.js"
      charset="utf-8"
    ></script>
    <script src="static/js/main.js" defer></script>
    <!-- Tailwind CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/output.css') }}"
    />
    <style>
      .gtitle {
        font-size: 1.5rem !important;
        position: relative;
        fill: #1a4d2e !important;
        transform: translateY(25px);
      }
      .mapboxgl-canvas {
        border-radius: 2rem;
      }
    </style>
  </head>
  <body class="bg-primary-500 font-display my-16">
    <div class="flex flex-col min-h-screen justify-center items-center">
      <h1 class="text-4xl font-bold text-center text-white">TremorTracker</h1>
      <div class="container mx-auto px-10">
        <div class="text-center mt-4 mx-auto w-full max-w-3xl">
          <h5 class="text-xl text-white/80">
            Earthquake prediction system for the Philippines, utilizing Random
            Forest Algorithm and PHIVOLCS dataset to provide accurate seismic
            insights and enhance disaster preparedness.
          </h5>
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-2 gap-10 mt-10 mx-auto">
          <div class="space-y-10">
            <div>
              <form
                action="/predict"
                method="post"
                class="bg-white p-8 rounded-3xl shadow-lg"
              >
                <div
                  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
                >
                  <div>
                    <label
                      for="date"
                      class="block text-secondary-500 font-bold mb-2"
                      >Date</label
                    >
                    <input
                      required
                      placeholder="Date of the earthquake"
                      name="Date"
                      id="date"
                      type="date"
                      class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary-500"
                      value="{{ date_input }}"
                    />
                  </div>
                  <div>
                    <label
                      for="time"
                      class="block text-secondary-500 font-bold mb-2"
                      >Time</label
                    >
                    <input
                      required
                      id="time"
                      name="Time"
                      placeholder="Time occurred"
                      type="time"
                      class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary-500"
                      value="{{ time_input }}"
                    />
                  </div>
                  <div>
                    <label
                      for="_latitude"
                      class="block text-secondary-500 font-bold mb-2"
                      >Latitude</label
                    >
                    <input
                      required
                      id="_latitude"
                      name="Latitude"
                      placeholder="Latitude in degrees"
                      type="number"
                      step=".01"
                      class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary-500"
                      value="{{ latitude_input }}"
                    />
                  </div>
                  <div>
                    <label
                      for="_longitude"
                      class="block text-secondary-500 font-bold mb-2"
                      >Longitude</label
                    >
                    <input
                      required
                      id="_longitude"
                      name="Longitude"
                      placeholder="Longitude in degrees"
                      type="number"
                      step=".01"
                      class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary-500"
                      value="{{ longitude_input }}"
                    />
                  </div>
                  <div>
                    <label
                      for="_zipcode"
                      class="block text-secondary-500 font-bold mb-2"
                      >Zipcode</label
                    >
                    <input
                      required
                      id="_zipcode"
                      name="Zipcode"
                      placeholder="Zipcode of the location"
                      type="number"
                      class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-primary-500"
                      value="{{ zipcode_input }}"
                    />
                  </div>
                </div>
                <div class="text-center mt-8">
                  <button
                    type="submit"
                    class="bg-primary-500 text-neutral-100 px-6 py-3 rounded-lg shadow hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500"
                  >
                    Predict Earthquake Classification
                  </button>
                </div>
              </form>
            </div>
            <div class="w-full bg-white px-4 py-10 shadow-lg rounded-3xl">
              <div class="px-4 sm:px-6 lg:px-8">
                <div class="sm:flex sm:items-center">
                  <div class="sm:flex-auto">
                    <h1 class="text-base font-semibold leading-6 text-gray-900">
                      Richter scale of earthquake magnitude
                    </h1>
                  </div>
                </div>
                <div class="mt-8 flow-root">
                  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div
                      class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
                    >
                      <div
                        class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg"
                      >
                        <table class="min-w-full divide-y divide-gray-300">
                          <thead class="bg-gray-50">
                            <tr>
                              <th
                                scope="col"
                                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                              >
                                Magnitude Level
                              </th>
                              <th
                                scope="col"
                                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                              >
                                Category
                              </th>
                              <th
                                scope="col"
                                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                              >
                                Effects
                              </th>
                              <th
                                scope="col"
                                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                              >
                                Earthquakes per Year
                              </th>
                            </tr>
                          </thead>
                          <tbody class="divide-y divide-gray-200 bg-white">
                            {% for item in richter_data %}
                            <tr>
                              <td
                                class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                              >
                                {{ item.magnitude }}
                              </td>
                              <td
                                class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                              >
                                {{ item.category }}
                              </td>
                              <td
                                class="px-3 py-4 text-sm text-gray-500 max-w-40 w-max"
                              >
                                {{ item.effects }}
                              </td>
                              <td
                                class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                              >
                                {{ item.per_year }}
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white rounded-3xl !h-fit">
            {% if pred %}
            <h1
              class="block pt-10 mb-6 text-4xl text-primary-500 font-bold text-center"
            >
              RESULTS:
            </h1>
            <div
              class="text-2xl text-primary-500 uppercase text-center mb-4 border-b border-b-primary-500 pb-10"
            >
              EARTHQUAKE CATEGORY: <strong class="underline">{{ pred }}</strong>
            </div>
            {% endif %} {% if fig %}
            <div class="bg-white rounded-3xl !h-fit">{{ fig | safe }}</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
